body {
    background-image: url('wallpaper.jpg');
  }
  #back {
    float: right;
    font-size: 50px;
    padding: 32px 16px;
    border: 5px solid blueviolet;
    border-radius: 50px;
    color: blueviolet;
    background-color: aquamarine;
    font-family: 'Garamond', serif;
  }

  .title{
    display: inline;
    h1 {
        color: orange;
        font-family: 'Garamond', serif;
        font-size: 300%;
        border: 10px groove black;
        display: inline;
        padding: 1px;
        background-color: grey;
      }
      h5 {
        color:orange;
        background-color:black;
        font-family: 'Papyrus', serif;
        font-size: 100%;
        display: inline;
      }
  }

  .form{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 150vh; 
    font-size: 35px;
  }

  #fname {
    width: 300px; 
    height: 40px; 
    font-size: 16px; 
    padding: 10px; 
    margin-bottom: 15px;
    border-radius: 50px;    
    background-color: aquamarine;
}

#lname {
    width: 300px; 
    height: 40px; 
    font-size: 16px; 
    padding: 10px; 
    margin-bottom: 15px;
    border-radius: 50px;
    background-color: aquamarine;
}


#mail {
    width: 300px; 
    height: 40px; 
    font-size: 16px; 
    padding: 10px; 
    margin-bottom: 15px;
    border-radius: 50px;
    background-color: aquamarine;
}

#subject {
    width: 300px; 
    height: 40px; 
    font-size: 16px; 
    padding: 10px; 
    margin-bottom: 15px;
    border-radius: 50px;
    background-color: aquamarine;
}


#mess {
    width: 400px; 
    height: 200px; 
    font-size: 16px; 
    padding: 10px; 
    margin-bottom: 50px;
    border-radius: 50px;
    background-color: aquamarine;
}

#check {
    width: 300px; 
    height: 40px; 
    font-size: 10px; 
    padding: 10px; 
    margin-bottom: 15px;
    margin-top: 30px;
    border-radius: 50px;
    background-color: aquamarine;
}

#job{
    width: 300px; 
    height: 40px; 
    font-size: 10px; 
    padding: 10px; 
    margin-bottom: 15px;
    border-radius: 50px;
    background-color: aquamarine;
}

#hire{
    width: 300px; 
    height: 40px; 
    font-size: 10px; 
    padding: 10px; 
    margin-bottom: 15px;
    border-radius: 50px;
    background-color: aquamarine;
}

#submit {
  float: right;
  font-size: 50px;
  padding: 32px 16px;
  border: 5px solid blueviolet;
  border-radius: 50px;
  color: blueviolet;
  background-color: aquamarine;
  font-family: 'Garamond', serif;
}

.adress {
  background-color: grey;
  color:black;
}