/*
  Project: Backrest
  Developer: Horia-Stefan Spataru
  Copyright © 2025 Horia-Stefan Spataru. All rights reserved.
  Unauthorized copying, reproduction, or distribution of this project or its contents is prohibited.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9f9f9; 
    font-family: Arial, sans-serif;
    color: #333;
    
    /* Flexbox to center the email in the middle of the iframe */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Takes full height of the iframe */
}

.mess {
    background-color: #ffffff; 
    padding: 40px 60px;        
    border: 1px solid #ddd;   
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05); 
    text-align: center;
}

.mess h2 {
    font-size: 1.5rem;
    font-weight: normal;
    color: #333;
}

.mess a {
    color: #0073b1;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}

.mess a:hover {
    text-decoration: underline;
}